target/*
*/target*
.manager
.*.swp
lib_managed
src_managed
*.class
target
project/boot
project/build
.idea
.idea_modules/
*.iml
*~
.DS_Store

# Scala-IDE specific
.settings/
.scala_dependencies
.classpath
.project
.cache
.worksheet/
*.sc
