target/*
*/target*
.manager
.*.swp
lib_managed
src_managed
*.class
target
project/boot
project/build
.idea
.idea_modules/
*.iml
*~
.DS_Store

# Scala-IDE specific
.settings/
.scala_dependencies
.classpath
.project
.cache
.worksheet/
*.sc
/.idea/IdeaProject.iml
/.idea/codeStyleSettings.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/highlighting.xml
/.idea/libraries/SBT__asm_asm_3_3_1.xml
/.idea/libraries/SBT__asm_asm_analysis_3_3_1.xml
/.idea/libraries/SBT__asm_asm_commons_3_3_1.xml
/.idea/libraries/SBT__asm_asm_tree_3_3_1.xml
/.idea/libraries/SBT__asm_asm_util_3_3_1.xml
/.idea/libraries/SBT__asm_asm_xml_3_3_1.xml
/.idea/libraries/SBT__com_github_rwl_jtransforms_2_4_0.xml
/.idea/libraries/SBT__com_google_caliper_caliper_0_5_rc1.xml
/.idea/libraries/SBT__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/SBT__com_google_code_gson_gson_1_7_1.xml
/.idea/libraries/SBT__com_google_code_java_allocation_instrumenter_java_allocation_instrumenter_2_0.xml
/.idea/libraries/SBT__com_google_guava_guava_11_0_1.xml
/.idea/libraries/SBT__com_googlecode_netlib_java_netlib_java_0_9_3.xml
/.idea/libraries/SBT__com_lowagie_itext_2_1_5.xml
/.idea/libraries/SBT__com_thoughtworks_paranamer_paranamer_2_2.xml
/.idea/libraries/SBT__com_typesafe_scalalogging_log4j_2_10_1_0_1.xml
/.idea/libraries/SBT__commons_io_commons_io_1_3_1.xml
/.idea/libraries/SBT__commons_logging_commons_logging_1_0_4.xml
/.idea/libraries/SBT__de_bwaldvogel_liblinear_1_8.xml
/.idea/libraries/SBT__jfree_jcommon_1_0_16.xml
/.idea/libraries/SBT__jfree_jfreechart_1_0_13.xml
/.idea/libraries/SBT__junit_junit_4_5_test.xml
/.idea/libraries/SBT__junit_junit_4_8_2.xml
/.idea/libraries/SBT__net_sf_opencsv_opencsv_2_3.xml
/.idea/libraries/SBT__net_sourceforge_f2j_arpack_combined_all_0_1.xml
/.idea/libraries/SBT__org_apache_logging_log4j_log4j_api_2_0_beta4.xml
/.idea/libraries/SBT__org_apache_logging_log4j_log4j_core_2_0_beta4.xml
/.idea/libraries/SBT__org_apache_xmlgraphics_xmlgraphics_commons_1_3_1.xml
/.idea/libraries/SBT__org_jblas_jblas_1_2_3.xml
/.idea/libraries/SBT__org_scala_lang_scala_actors_2_10_1_test.xml
/.idea/libraries/SBT__org_scala_lang_scala_library_2_10_1.xml
/.idea/libraries/SBT__org_scala_lang_scala_reflect_2_10_0.xml
/.idea/libraries/SBT__org_scala_tools_testing_test_interface_0_5_test.xml
/.idea/libraries/SBT__org_scalacheck_scalacheck_2_10_1_10_0_test.xml
/.idea/libraries/SBT__org_scalatest_scalatest_2_10_2_0_M5b_test.xml
/.idea/libraries/SBT__scala_2_10_1.xml
/.idea/libraries/SBT__scala_2_9_2.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/projectCodeStyle.xml
/.idea/scala_compiler.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea_modules/breeze-benchmark.iml
/.idea_modules/breeze-build.iml
/.idea_modules/breeze-core.iml
/.idea_modules/breeze-learn.iml
/.idea_modules/breeze-math.iml
/.idea_modules/breeze-process.iml
/.idea_modules/breeze-signal.iml
/.idea_modules/breeze-viz.iml
/.idea_modules/breeze.iml
/.idea_modules/doc.iml
